[Unit]
Description=PECHAM/SYSGRATION TPMS Sensors MQTT service
After=network-online.target

[Service]
Type=simple
User=pi
Group=pi
# Mode: internal or external
ExecStart=/usr/bin/python3 /usr/local/bin/tpms-oap/tpms_mqtt.py --mqtt-topic tpms --mode internal
Restart=on-failure
RestartSec=5
StandardOutput=file:/home/pi/Logs/tpms_mqtt.log
StandardError=file:/home/pi/Logs/tpms_mqtt.error

[Install]
WantedBy=multi-user.target

